<div class="form-login">
  <% if @video.errors.any? %>
    <% @video.errors.full_messages.each do |message| %>
      <div>
        <p><%= message %></p>
      </div>
    <% end %>
  <% end %>


  <%= form_with model: @video do |f| %>
    <div class="field">
    <%= f.label :title, 'Título', class: 'submit-form' %>
    <%= f.text_field :title %>
    </div>
    <div class="field">
    <%= f.label :description, 'Descrição', class: 'submit-form' %>
    <%= f.text_field :description %>
    </div>
    <div class="field">
    <%= f.label :url, 'URL', class: 'submit-form' %>
    <%= f.text_field :url %>
    </div>
    <div class="field">
    <%= f.label :clip, 'Video', class: 'submit-form' %>
    <%= f.file_field :clip %>
    </div>
    <div class="field">
    <%= f.label :thumbnail, 'Thumbnail', class: 'submit-form' %>
    <%= f.file_field :thumbnail %>
    </div>
    <%= f.submit 'Upload', class: 'button' %>
  <% end %>
</div>