<!DOCTYPE html>
<html>
  <head>
    <title>Devideo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
     <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav">
      <h1 class="icon-title"><%= link_to  "DEVideo", root_path %></h1>
      <ul>
      <% if user_signed_in? %>
        <li><%= link_to  "Novo video", new_video_path %></li>
        <li><%= link_to  "Sair", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to  "Entrar", new_user_session_path %></li>
        <li><%= link_to  'Registrar-se', new_user_registration_path %></li>
      <% end %>
      </ul>
    </nav>
    <main class="principal">
      <p><%= flash[:success] %></p>
      <p><%= flash[:errors] %></p>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
